
*.dll
.vs/3DPixelArtGame/v16/.suo
3DPixelArtEngine/base/Object.cs
*.exe
*.pdb
*.editorconfig
*.CopyComplete
*.cache
*.dylib
*.1
*.dylib
*.targets
.vs/3DPixelArtGame/v16/.suo
*.manifest
*.props
*.json
